/* body {
    font-size: 40px;
}

.block, .inline {
    background: #afeeee;
}

.sverhu-ne-trogat {
}

.block {
    
}

.inline {
    
}

.img {
    
} */

body {
    font-size: 40px;
}

.block, .inline {
    background: #afeeee;
}

.sverhu-ne-trogat {
}

.block {
    box-shadow:-20px 25px 20px 10px #000, 40px -45px 20px 10px #f80a0a;
    border-radius: 30px;
}

.inline {
    /* box-shadow: 10px 10px 20px #000; */
}

.img {
    box-shadow: -20px 25px 20px 10px #000;
} 