body {
    background-color: #1d1d1f;
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.link {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.input {
    display: block;
    width: 100%;
    padding: 2em;
    margin-bottom: 100px;
    font-size: inherit;
}

.button {
    display: block;
    background-color: #555;
    border-radius: 2em;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    color: inherit;
    margin-bottom: 100px;
    width: 100%;
}

/* ======================================================== */

.link:hover {
    background: #03ffb3;
}

.link:active {
    background: blue;
}

.block-title:hover {
    color: red;
}

.button:active {
    background: blue;
}

:focus {
    box-shadow: 0 0 10px #2aff5f;
}

.input:focus {
    /* box-shadow: 0 0 10px #2aff5f; */
}

.list__item:first-child {
    color: green;
}

.list__item:last-child {
    color: #e700ad;
}

.list__item:nth-child(odd) {
    color: #f8ad0c;
}

.list__item:nth-child(even) {
    color: #ad0cf8;
}

.list__other:nth-child(4) {
    background: gold;
}