body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block, .inline {
    background: #e6b0ff;
}
/* ====================================================== */

.block {
    /* padding: 50px; */
    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */
    /* padding: 30px 60px 10px 100px; */
    /* padding: 30px 60px 10px; */
    /* padding: 30px 60px; */
    padding: 30px;


}

.block-1 {
    margin: 0px 0px 50px 0px;
}

.block-2 {
    margin-top: 100px;
}

.inline {
    /* padding: 50px;
    margin: 50px; */
}

.img {
    margin: 100px;
}